/* Imagem e Titulo do Inicio da pagina */
.acampamento-banner {
    width: 100%;
    height: 68vh;
    position: relative;

}

#img-incio {
    width: 100%;
    height: 100%;

}


#img-incio img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.titulo-banner-acampamento {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vh;
    color: antiquewhite;

}

/* Seta para baixo  */
#seta-acampamento-baner figure {
    width: 100%;
    text-align: center;
    height: 20%;
    position: relative;
    padding: 2vh;

    animation-name: seta-acampamento;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#seta-img {
    width: 15vw;
    height: 10vh;
    opacity: .8;
    object-fit: contain;
}

@keyframes seta-acampamento {
    0% {
        top: 0px;
    }

    100% {
        top: 2rem;
    }

}

/* LogoMarca da empresa titulo */
.logoMarca-main-titulo {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 10vh;

}

#well-style {
    color: #475d3b;
    font-size: 8vh;
    font-weight: 900;
    object-fit: contain;
}

#camp-style {
    color: #b4750f;
    font-size: 8vh;
    font-weight: 900;
}


/* Slide/carrosel */
.titulo-slide-main {
    text-align: center;
    margin-top: 1rem;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vh;
    color: #434343;
    display: flex;


}

.titulo-slide-main h1 {
    /* padding: 2rem; */
}


.main-slide {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.slide-show-main {
    width: 800px;
    height: 500px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;

}

.navigation-bar-main {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

input {
    display: none;
}

.manual-btn-main-slide {
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.manual-btn-main-slide:not(:last-child) {
    margin-right: 40px;
}

.manual-btn-main-slide:hover {
    background: #fff;
    transform: 0.4s;
}

.container-slide-main {
    display: flex;
    width: 400%;
    height: 100%;
    position: relative;
    z-index: -1;
}

.slide {
    width: 25%;
    transition: 0.5s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#img-1:checked~.first {
    margin-left: 0;
}

#img-2:checked~.first {
    margin-left: -25%;
}

#img-3:checked~.first {
    margin-left: -50%;
}

#img-4:checked~.first {
    margin-left: -75%;
}

/* Sessao Cards bloco de Cards */
.sessao-cardsPai {
    padding: 80px;
    padding-bottom: 0;
}

.bloco-card {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.card-sessao {
    width: 20vmax;

}

.card-sessao img {
    width: 20vw;
    height: 40vh;
    object-fit: cover;
    border-radius: 20px;
}

.card-sessao h2 {
    text-align: center;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

.card-sessao p {
    text-align: center;
}

.titulo-cards-principal h1 {
    text-align: center;
    font-size: 5vh;
    color: #434343;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;

}

/* Cards com texto de lado (Nossa equipe) */
.sessao-cards-nossaEquipe {
    padding: 20px;
}


.containerGeral-cards-nossaEquipe {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.titulo-equipe-cards {
    text-align: center;
}

.container-card-equipe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
}

.img-nossaEquipe-card img {
    width: 17vw;
    object-fit: cover;
    border-radius: 20px;
}

.texto-nossaEquipe-card {
    width: 17vw;
    object-fit: cover;
    text-align: start;
    font-family: 'Poppins', sans-serif;
}

.titulo-equipe-cards {
    text-align: center;
    margin: 4rem;
    font-size: 2rem;
    color: #434343;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;


}

/* Conjunto de imagens em sessao estrutura wellcamp */
#titulo-pricipal-estruturaWellCamp {
    font-size: 6vh;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}