/* CÓDIGOS QUE TERÃO AS MESMAS CONFIGURAÇÕES FICARAM AQUI, EX: BOTÃO */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VÁRIAVEIS PARA CORES */
:root {
    --primary-color: #ffffff;
    --secondary-color: #000000; 
    --hover-li: rgb(196, 196, 196);
    --green-color: #3D6A25;
    --brown-color: #5E3023;

    font-size: 62.5%;
}

body {
    background-color: var(--primary-color);
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}