/* TODAS CONFIGURAÇÕES DE RESPONSIVIDADE FICARÃO AQUI */

@media screen and (max-width: 600px) {

    .nav-bar .nav-menu-lista {
        display: none;
        position: absolute;
        width: 100%;
        top: 50px;
        right: 0;
        z-index: 1000;
        background-color: rgb(211, 211, 211);
        /* display: block; */
        height: calc(100vh - 50px);
    }

    .nav-bar .nav-btn {
        display: block;
    }

    .nav-bar.ativo .nav-menu-lista {
        display: block;
    }
}